# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.env/
.venv/

# Model and tokenizer (binary files)
src/ai_model/*.h5
src/ai_model/*.pkl

# Logs
*.log

# IDE files
.vscode/
.idea/
